body
{
    background-image: url(parchment.jpg);
    background-size: cover;
}

div
{
    margin:0 auto;
    text-align: center;
}


header
{
    color:darkslateblue;
    text-align: center;
    font-size: 5em;
    
}

nav
{
    color: darkslategray;
    text-align: center;
    font-size: 2em;
    
}

td
{
    border-color: darkslateblue;
}

table
{
    border-collapse: collapse;
    border-color: darkslateblue;
    width:100%;
}

section
{
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1em;
}
p
{
    text-indent: 3%;
}

h2
{
    color:darkslategray;
    text-align: center;
}

img
{
    float: left;
    margin-right: 2%;
}





